{$ZHIXING_RELAY_DOMAIN} {
	encode zstd gzip
	reverse_proxy relay:3100
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options nosniff
		Referrer-Policy no-referrer
	}
	log {
		format filter {
			wrap json
			fields {
				request>headers>Authorization delete
				request>headers>X-Zhixing-Device-Id delete
				request>headers>authorization delete
				request>headers>x-zhixing-device-id delete
			}
		}
	}
}
